div{
  font-family: Montserrat;
  background-color: #CF8A83;
  margin: 10px 10px;
  text-align: center;
  font-weight: lighter;
  padding: 15px 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}
.triangulo_lateral{
    -webkit-transform: translateX(0);
    -webkit-transition-duration: 0.3s;
}
.triangulo_lateral:before{
  content: '';
  
  transition-duration: 0.3s;
  
  border-style: solid;
  border-width: 0px 15px 15px 15px;
  border-color: transparent                 
                transparent 
                #CF8A83
                transparent;
  
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -15px;
}
.triangulo_lateral:hover{
	-webkit-transform: translateY(15px);
}
.triangulo_lateral:hover:before{
	top: -13px;
}