div{
  font-family: Montserrat;
  background-color: #CF8A83;
  margin: 10px 10px;
  text-align: center;
  font-weight: lighter;
  padding: 15px 30px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}
.sombra_difuminada{
  |
}